.rodape {
  background-color: #72b8f5;
  color: #000000;
  padding: 30px 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 14px;
  flex-shrink: 0;
}

.rodape a {
  color: #0011ff;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.rodape a:hover {
  color: #54b754;
}

.rodape-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}

.rodape-centro {
  flex: 1;
}

.img-left {
  flex: 1;
  display: flex;
  justify-content: center;
}

.img-right {
  flex: 1;
  display: flex;
  justify-content: center;
}

.img-right img {
  width: 200px;
  height: auto;
}

.img-left img {
  width: 300px;
  height: auto;
}

@media (max-width: 768px) {
  .rodape-flex {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .img-left img,
  .img-right img {
    margin: 20px 0;
  }
}
/* SOCIAL ICONS */
.contato-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 10px;
  font-size: 14px;
}

.contato-social a {
  text-decoration: underline;
  color: #0011ff;
}

.contato-social a:hover {
  color: #54b754;
}

.contato-social img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.social-icons img:hover {
  filter: brightness(0.8) invert(0);
  transform: scale(1.3);
}

hr {
  border: none;
  height: 1px;
  background-color: #000000;
  margin-bottom: 0;
}